@import './Mixins/mixins.scss';
@import './Variables/variables.scss';

@import '../Components/Annoncement/Annoncement.scss';
@import '../Components/Navbar/Navbar.scss';
@import '../Pages/Connexion/Connexion.scss';
@import '../Pages/Senregistrer/Senregistrer.scss';
@import '../Components/Categories/Categories.scss';
@import '../Components/Categories/Categoryitem.scss';
@import '../Components/Produits/Products.scss';
@import '../Components/Newsletter/Newsletter.scss';
@import '../Components/Footer/Footer.scss';

@import '../Pages/Product/Canne_du_muet.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $Urbanist;
}