@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin wrap {
    display: flex;
    flex-wrap: wrap;
}